<a href="https://colab.research.google.com/github/codingfarm1/codingfarm1.github.io/blob/master/03_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%84%B8%ED%8A%B8_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스, 집합형 자료구조

| 분류             | 타입                 | 특징                                   | 예시                     |
| ---------------- | -------------------- | -------------------------------------- | ------------------------ |
| 시퀀스(sequence) | 리스트(list)         | 순서가 있고, 가변(mutable)             | [1, 2, 3]                |
| 시퀀스(sequence) | 튜플(tuple)          | 순서가 있고, 불변(immutable)           | (1, 2, 3)                |
| 세트(set)        | 세트(set)            | 순서가 없고, 중복을 허용하지 않음      | {1, 2, 3}                |
| 맵(map)          | 딕셔너리(dictionary) | 순서가 없고, key/value 쌍으로 이루어짐 | {'a': 1, 'b': 2, 'c': 3} |

## 세트(set)

- 세트는 순서가 보장 되지 않습니다.
- 세트는 요소의 **중복을 허용하지 않습니다.**
- 세트는 **{}**를 활용하여 생성할 수 있습니다.

### 생성

In [1]:
myset = set()
myset

set()

In [2]:
myset = set([1, 1, 1, 2, 2, 2, 3, 3, 3])
myset

{1, 2, 3}

In [3]:
myset = set((1, 1, 1, 2, 3, 3, 4, 5, 5, 5))
myset

{1, 2, 3, 4, 5}

In [4]:
myset = {1, 1, 1, 2, 2, 2, 3, 3, 3}
myset

{1, 2, 3}

### add() : 값 추가

- set에 요소를 추가합니다.

빈 set를 생성합니다.

In [5]:
myset = set()

add() 로 요소를 추가합니다.

In [6]:
myset.add(1)
myset.add(2)
myset.add(3)

myset.add(1)
myset.add(2)
myset.add(3)

myset.add(1)
myset.add(2)
myset.add(3)

요소를 중복하여 추가하였지만, 중복을 허용하지 않는 set의 특성상 {1, 2, 3} 으로 **중복이 제거된 요소만 출력**됩니다.

In [7]:
myset

{1, 2, 3}

### update() : 여러개 값 추가

- 여러개의 값을 한꺼번에 추가하고자 할 때는 update() 메서드를 사용합니다.

In [8]:
myset = {1, 2, 3}

list의 요소들을 **한꺼번에 update**

In [9]:
myset.update([4, 5, 6])
myset

{1, 2, 3, 4, 5, 6}

tuple의 요소들을 **한꺼번에 update**

In [10]:
myset.update((7, 8, 9))
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set의 요소들을 **한꺼번에 update**

In [11]:
myset.update({10, 11, 12})
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

### remove() : 값 제거

- 단일 요소를 제거합니다.

In [12]:
myset = {1, 2, 3, 4, 5}

In [13]:
myset.remove(2)
myset

{1, 3, 4, 5}

### 교집합 (intersection)

- 교집합은 집합 A와 B가 주어졌을 때 **공통된 요소**를 말합니다.
- `&` 기호나 `intersection()` 메서드를 활용하여 교집합을 구할 수 있습니다.

In [14]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [15]:
a & b

{3, 4, 5}

In [16]:
a.intersection(b)

{3, 4, 5}

### 합집합 (union)

- 합집합은 집합 A와 B가 주어졌을 때 집합 A, B 요소 모두를 포함하는 것을 말합니다.
- `|`기호나 `union()` 메서드를 활용하여 합집합을 구할 수 있습니다.

In [17]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

In [18]:
a | b

{1, 2, 3, 4, 5, 6, 7}

In [19]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

### 차집합 (difference)

- 두 집합에서, 하나의 집합에 포함되고 다른 집합에는 포함되지 않는 모든 원소의 집합.
- `-`연산자를 활용하거나 `difference()` 메서드를 활용하여 구할 수 있습니다.

In [20]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7}

a 집합에서 b 집합을 뺀 차집합

In [21]:
a - b

{1, 2}

In [22]:
a.difference(b)

{1, 2}

b 집합에서 a 집합을 뺀 차집합

In [23]:
b - a

{6, 7}

In [24]:
b.difference(a)

{6, 7}

### 집합의 타입 변환

### set를 list로 변환

In [25]:
a = {1, 2, 3, 4, 5}

In [26]:
type(a)

set

In [27]:
b = list(a)

In [28]:
b

[1, 2, 3, 4, 5]

In [29]:
type(b)

list

### list를 set로 변환

- 중복을 제거할 때 많이 활용합니다.

In [77]:
a = [1, 1, 1, 2, 2, 2, 3, 3, 3]

In [78]:
a

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [79]:
type(a)

list

In [80]:
b = set(a)

In [81]:
b

{1, 2, 3}

In [82]:
type(b)

set

b를 다시 list 자료형으로 변환

In [83]:
b = list(b)
b

[1, 2, 3]

### 연습문제 1

In [30]:
sample1 = {1, 2, 3, 4, 5}
sample2 = {2, 4, 5, 6, 7}

print(f'sample1: {sample1}')
print(f'sample2: {sample2}')

sample1: {1, 2, 3, 4, 5}
sample2: {2, 4, 5, 6, 7}

`sample1` 에 6를 추가합니다.

In [32]:
# 코드를 입력해 주세요
sample1.update([6])
print(sample1)

{1, 2, 3, 4, 5, 6}

<p><strong>[출력 결과]</strong></p><pre>{1, 2, 3, 4, 5, 6}</pre>

`sample2`에 2를 제거합니다.

In [33]:
# 코드를 입력해 주세요
sample2.remove(2)
print(sample2)

{4, 5, 6, 7}

<p><strong>[출력 결과]</strong></p><pre>{4, 5, 6, 7}</pre>

`sample1`과 `sample2`의 **교집합**을 출력합니다.

In [34]:
# 코드를 입력해 주세요
sample1.intersection(sample2)

{4, 5, 6}

<p><strong>[출력 결과]</strong></p><pre>{4, 5, 6}</pre>

`sample1`과 `sample2`의 **합집합**을 출력합니다.

In [35]:
# 코드를 입력해 주세요
sample1.union(sample2)

{1, 2, 3, 4, 5, 6, 7}

<p><strong>[출력 결과]</strong></p><pre>{1, 2, 3, 4, 5, 6, 7}</pre>

`sample1`과 `sample2`의 **차집합**을 활용하여 다음과 같이 출력합니다.

In [36]:
# 코드를 입력해 주세요
sample1.difference(sample2)

{1, 2, 3}

<p><strong>[출력 결과]</strong></p><pre>{1, 2, 3}</pre>

### 연습문제 2

- 다음 리스트에서 중복된 항목을 제거하세요
- 최종 출력 값은 list 형태로 출력하세요

In [39]:
numList = [1, 3, 2, 3, 7, 6, 8, 4, 10, 5, 3, 8, 9]

In [41]:
# 코드를 입력해 주세요
b = set(numList)
c = list(b)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

<p><strong>[출력 결과]</strong></p><pre>[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]</pre>

## 딕셔너리(dictionary)

- 순서를 가지지 않습니다.
- 키(key)와 값(value)의 쌍으로 이루어져 있습니다.
- type은 `dict`로 표시 됩니다.
- key를 사용하여 값을 조회할 수 있습니다.
- 딕셔너리는 **수정, 삭제, 추가가 가능**합니다.

### 생성

In [42]:
mydict = dict()
print(type(mydict))
mydict

<class 'dict'>

{}

In [43]:
mydict = {'a': 1, 'b': 2, 'c': 3}
print(type(mydict))
mydict

<class 'dict'>

{'a': 1, 'b': 2, 'c': 3}

딕셔너리는 여러 타입의 key를 가질 수 있습니다.

In [44]:
mydict = {'a': 1, '가':2, 100: 3, 3.14: 4, True: 5}
mydict

{'a': 1, '가': 2, 100: 3, 3.14: 4, True: 5}

### 값 조회

- key 값으로 값을 조회할 수 있습니다.

In [45]:
mydict = {'a': 1, '가':2, 100: 3, 3.14: 4, True: 5}
mydict

{'a': 1, '가': 2, 100: 3, 3.14: 4, True: 5}

key를 지정하여 값을 조회할 수 있습니다.

In [46]:
mydict['a']

1

key가 없는 경우 Error가 발생합니다.

In [47]:
mydict['b']

KeyError: 'b'

`get()` 메서드를 활용하여 값을 조회할 수 있습니다.

In [48]:
mydict.get('a')

1

`get()`을 사용하면 key가 없는 경우라도 Error가 발생하지 않습니다. 단지 None이 반환됩니다.

In [49]:
mydict.get('b')

### keys() : 모든 key 조회

In [50]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [51]:
mydict.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

**[참고]** `dict_keys`

- `dict_keys`는 리스트(list)가 아닙니다.
- 객체(object)로 생성되는데, 이를 list로 변경하기 위해서는 list()로 타입 변환을 하면 됩니다.

In [52]:
list(mydict.keys())

['a', 'b', 'c', 'd', 'e']

### values() : 모든 value 조회

In [53]:
mydict.values()

dict_values([100, 200, 300, 400, 500])

### items() : 모든 key, value 조회

- key, value가 튜플로 묶여서 조회됩니다.

In [54]:
mydict.items()

dict_items([('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)])

In [55]:
list(mydict.items())

[('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)]

### key 값의 존재 유무 확인

In [56]:
'a' in mydict

True

In [57]:
'f' in mydict

False

### 값을 추가하기

- 새로운 key에 값을 대입하여 추가

In [58]:
mydict = dict()
mydict

{}

In [59]:
mydict['apple'] = 123
mydict['apple']

123

In [60]:
mydict[0] = 2
mydict[0]

2

In [61]:
mydict

{'apple': 123, 0: 2}

### update() : 다중 업데이트

- 값을 한꺼번에 업데이트 합니다.

In [62]:
mydict = {'파인애플': 1500, '망고': 3500, '배': 1000}
mydict

{'파인애플': 1500, '망고': 3500, '배': 1000}

In [63]:
fruit = {
    '사과': 2000,
    '딸기': 3000,
    '수박': 5000,
}

In [64]:
mydict.update(fruit)
mydict

{'파인애플': 1500, '망고': 3500, '배': 1000, '사과': 2000, '딸기': 3000, '수박': 5000}

### 값 변경

- key 값에 새로운 값(value)를 대입하여 값을 변경할 수 있습니다.

In [65]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [66]:
mydict['a'] = 900

In [67]:
mydict

{'a': 900, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

### 제거하기 / key 제거

In [68]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

`del` 값을 제거할 수 있습니다.

`del`에 딕셔너리 key를 지정합니다.

In [69]:
del mydict['a']

In [70]:
mydict

{'b': 200, 'c': 300, 'd': 400, 'e': 500}

`pop()` 에 key를 지정하여 값을 제거할 수 있습니다.

제거되는 값의 value를 반환합니다.

In [71]:
mydict.pop('b')

200

In [72]:
mydict

{'c': 300, 'd': 400, 'e': 500}

### len() : 요소의 개수 파악

In [73]:
len(mydict)

3

### clear() - 전부 삭제

In [74]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [75]:
mydict.clear()

In [76]:
mydict

{}

### 연습문제

- 학생들의 이름과 점수를 key와 value로 가지는 `score` 변수를 생성하세요.
    - 하준 90점, 서윤 86점, 지아 80점

In [2]:
# 코드를 입력해 주세요
score = {'하준':90, '서윤':86, '지아':80}
score

{'하준': 90, '서윤': 86, '지아': 80}

<p><strong>[출력 결과]</strong></p><pre>{'하준': 90, '서윤': 86, '지아': 80}</pre>

score 변수에 수지 95점을 추가하세요.

In [3]:
# 코드를 입력해 주세요
score.update({'수지':95})
score

{'하준': 90, '서윤': 86, '지아': 80, '수지': 95}

<p><strong>[출력 결과]</strong></p><pre>{'하준': 90, '서윤': 86, '지아': 80, '수지': 95}</pre>

score 변수에서 지아를 삭제하세요.

In [6]:
# 코드를 입력해 주세요
del score['지아']
score

{'하준': 90, '서윤': 86, '수지': 95}

<p><strong>[출력 결과]</strong></p><pre>{'하준': 90, '서윤': 86, '수지': 95}</pre>

score 변수에 기창 98점, 남철 60점, 기성 75점을 **한번에** 추가하세요.
- update() 를 사용하세요

In [9]:
# 코드를 입력해 주세요
score.update({'기창':98, '남철':60, '기성':75})
score

{'하준': 90, '서윤': 86, '수지': 95, '기창': 98, '남철': 60, '기성': 75}

<p><strong>[출력 결과]</strong></p><pre>{'하준': 90, '서윤': 86, '수지': 95, '기창': 98, '남철': 60, '기성': 75}</pre>