<a href="https://colab.research.google.com/github/codingfarm1/codingfarm1.github.io/blob/master/02_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%A6%AC%EC%8A%A4%ED%8A%B8_%ED%8A%9C%ED%94%8C%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 시퀀스, 집합형 자료구조

| 분류             | 타입                 | 특징                                   | 예시                     |
| ---------------- | -------------------- | -------------------------------------- | ------------------------ |
| 시퀀스(sequence) | 리스트(list)         | 순서가 있고, 가변(mutable)             | [1, 2, 3]                |
| 시퀀스(sequence) | 튜플(tuple)          | 순서가 있고, 불변(immutable)           | (1, 2, 3)                |
| 세트(set)        | 세트(set)            | 순서가 없고, 중복을 허용하지 않음      | {1, 2, 3}                |
| 맵(map)          | 딕셔너리(dictionary) | 순서가 없고, key/value 쌍으로 이루어짐 | {'a': 1, 'b': 2, 'c': 3} |

시퀀스 : 순서가 있음

가변 : 수정이 가능 (추가, 삭제)

불변 : read only 수정이 안됨

## 리스트(list)

- 리스트는 데이터의 요소를 순차적으로 파악하는데 용이한 자료형 입니다.
- 리스트는 다양한 메서드(method) 혹은 함수를 지원하며 메서드를 활용하여 요소를 추가, 삭제 및 변경할 수 있습니다.

**메서드(method)**: 객체(object)가 포함하는 함수 혹은 기능입니다. 함수에 대한 내용은 추후에 다룹니다.

### 생성

[] 형태로 표현합니다.

빈 리스트를 생성합니다.

In [ ]:
mylist = []
mylist

[]

In [ ]:
mylist = list()
mylist

[]

리스트를 생성하면서 값을 포함합니다.

In [ ]:
mylist = [1, 3, 2, 4, 5]
mylist

[1, 3, 2, 4, 5]

### list 규칙

* list는 다양한 type의 데이터를 집합으로 가집니다.
* list안에 list도 허용합니다.
* list는 순서(order)의 개념이 존재합니다.

In [ ]:
a = []

In [ ]:
a

[]

In [ ]:
a = [1, 2, 3]
a

[1, 2, 3]

In [ ]:
a = [1, 'hello', 3, 3.14, True]
a

[1, 'hello', 3, 3.14, True]

리스트 안에 리스트로 포함할 수 있습니다.

In [ ]:
a = [1, 'hello', 3, 3.14, [6, 7, '8']]
a

[1, 'hello', 3, 3.14, [6, 7, '8']]

### 관련 함수

- . 점 연산자로 함수를 실행할 수 있습니다.
- 함수는 어떤 작업을 수행하는 코드를 모아 이름을 붙인 것입니다.
- 자세한 내용은 추후 함수 단원에서 배웁니다.

점 연산자로 리스트가 가진 기능을 사용할 수 있음.

### append() : 값 추가

빈 리스트를 생성합니다.

In [ ]:
mylist = []
mylist

[]

append() 는 값을 맨 뒤에 추가 합니다.

In [ ]:
mylist.append(1)
mylist

[1, 7, 7, 7, 3, 5, 2, 1, 1, 1, 1, 1]

위의 코드를 여러번 수행하면 계속 맨 뒤에 값이 추가됨!

중복된 값을 추가할 수 있으며, 순서가 **유지**됩니다.

In [ ]:
mylist.append(7)
mylist.append(7)
mylist.append(7)
mylist.append(3)
mylist.append(5)
mylist.append(2)
mylist

[1, 7, 7, 7, 3, 5, 2, 1, 1, 1, 1, 1, 7, 7, 7, 3, 5, 2]

### sort() : 정렬

- 요소를 순서대로 정렬합니다 (오름차순)
- sort()는 내부적으로 정렬 합니다.

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort()

In [ ]:
mylist

[1, 2, 3, 4, 5, 6, 7]

역정렬(reverse order)도 가능합니다. (`reverse=True`를 지정합니다.)

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist.sort(reverse=True)

In [ ]:
mylist

[7, 6, 5, 4, 3, 2, 1]

### sorted() : 정렬

- 요소를 순서대로 정렬합니다.
- 내부적으로 정렬하지 않고 **정렬된 복사본을 반환**합니다.
위의 .sort함수와 다른점

- 즉 원본 데이터는 정렬되지 않습니다.

정렬 방법 중 내장 함수 활용하는 법

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]
mylist2 = sorted(mylist)
mylist2

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
mylist

[1, 6, 3, 2, 7, 5, 4]

마찬가지로, `reverse=True`를 지정하여 역정렬할 수 있습니다.

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]
sorted(mylist, reverse=True)

[7, 6, 5, 4, 3, 2, 1]

### reverse() : 역정렬

In [ ]:
mylist

[1, 6, 3, 2, 7, 5, 4]

In [ ]:
mylist.reverse()

In [ ]:
mylist

[4, 5, 7, 2, 3, 6, 1]

역순으로 정렬

순서를 뒤집어서 정렬 (내림차순 정렬 아님)

In [ ]:
mylist[::-1]

[1, 6, 3, 2, 7, 5, 4]

In [ ]:
mylist

[4, 5, 7, 2, 3, 6, 1]

[::-1]은 인덱싱 방식 - 원본에는 영향을 주지 않음

### len() : 전체 항목의 개수 세기

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]
len(mylist)

7

### insert() : 값 추가

지정한 index에 값 추가

In [ ]:
mylist = [1, 6, 3, 2, 7, 5, 4]

In [ ]:
mylist

[1, 6, 3, 2, 7, 5, 4]

In [ ]:
mylist.insert(1, 100)

인덱스 1번에 100 정수 값 추가

In [ ]:
mylist

[1, 100, 6, 3, 2, 7, 5, 4]

### remove() : 값 제거

리스트 중 첫 번째 나오는 해당 값 삭제

In [ ]:
mylist = [1, 2, 3, 4, 7, 7, 7, 6, 5]

In [ ]:
mylist.remove(7)

In [ ]:
mylist

### pop() : 요소 꺼내기

x번째 요소를 돌려주고 해당 요소는 삭제

In [ ]:
mylist = [1, 2, 3, 4, 7, 7, 7, 6, 5]

In [ ]:
mylist

[1, 2, 3, 4, 7, 7, 7, 6, 5]

In [ ]:
mylist.pop(1)

2

.pop(삭제할 해당 값의 인덱스)

삭제할 해당 값의 인덱스를 꺼내고 삭제할 값 print

In [ ]:
mylist

[1, 3, 4, 7, 7, 7, 6, 5]

### del : 요소 삭제

In [ ]:
mylist = [100, 200, 300, 400, 500]

del mylist[1]
print(mylist)

del mylist[3]
print(mylist)

[100, 300, 400, 500]
[100, 300, 400]

### count() : 갯수 세기

In [ ]:
a = [1, 1, 1, 1, 1, 2, 2, 3]

In [ ]:
a.count(1)

5

In [ ]:
a.count(2)

2

In [ ]:
a.count(5)

0

### extend() : 리스트 확장

In [ ]:
a = [1, 2, 3]

In [ ]:
a.extend([4, 5])

In [ ]:
a

[1, 2, 3, 4, 5]

`+` 연산자는 extend()와 동일한 기능을 수행합니다.

In [ ]:
a = [1, 2, 3]
a + [4, 5]

[1, 2, 3, 4, 5]

### 연습문제

In [ ]:
movie = ['어벤져스', '아이언맨', '토르', '스파이더맨']

`movie`에 맨 끝에 `엑스맨` 을 추가하세요.

In [ ]:
movie.extend(['엑스맨'])
print(movie)

['어벤져스', '아이언맨', '토르', '스파이더맨', '엑스맨', '엑스맨']

In [ ]:
movie + ['엑스맨']

['어벤져스', '아이언맨', '토르', '스파이더맨', '엑스맨']

In [ ]:
# 코드를 입력해 주세요
movie.append('엑스맨')
movie

['어벤져스', '아이언맨', '토르', '스파이더맨', '엑스맨', '엑스맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '아이언맨', '토르', '스파이더맨', '엑스맨']</pre>

`movie`의 1번 index에 `데드풀`을 추가하세요

In [ ]:
# 코드를 입력해 주세요
movie.insert(1,'데드풀')
movie

['어벤져스', '데드풀', '아이언맨', '토르', '스파이더맨', '엑스맨', '엑스맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '데드풀', '아이언맨', '토르', '스파이더맨', '엑스맨']</pre>

`movie`에서 `아이언맨`을 삭제 하세요.

- remove() 사용

In [ ]:
# 코드를 입력해 주세요
movie.remove('아이언맨')
movie

['어벤져스', '데드풀', '데드풀', '토르', '스파이더맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '데드풀', '토르', '스파이더맨', '엑스맨']</pre>

`movie`에서 1번째 index를 삭제하세요

In [ ]:
# 코드를 입력해 주세요
movie.pop(1)
movie

['어벤져스', '데드풀', '토르', '스파이더맨', '엑스맨']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '토르', '스파이더맨', '엑스맨']</pre>

In [ ]:
kr_movie = ['승리호', '신세계', '타짜']

`kr_movie`를 `movie`에 추가해 주세요

In [ ]:
movie.append(kr_movie)
movie

['어벤져스',
 '데드풀',
 '아이언맨',
 '토르',
 '스파이더맨',
 '엑스맨',
 '엑스맨',
 '엑스맨',
 ['승리호', '신세계', '타짜'],
 ['승리호', '신세계', '타짜']]

In [ ]:
# 코드를 입력해 주세요
movie + kr_movie

['어벤져스', '데드풀', '토르', '스파이더맨', '엑스맨', '승리호', '신세계', '타짜']

<p><strong>[출력 결과]</strong></p><pre>['어벤져스', '토르', '스파이더맨', '엑스맨', '승리호', '신세계', '타짜']</pre>

`movie`를 가나다 순으로 정렬하세요

In [ ]:
# 코드를 입력해 주세요
kr_movie.sort()
kr_movie

['승리호', '신세계', '타짜']

<p><strong>[출력 결과]</strong></p><pre>['스파이더맨', '승리호', '신세계', '어벤져스', '엑스맨', '타짜', '토르']</pre>

### 인덱싱(indexing): 색인

In [ ]:
mylist = [1, 2, 3, 4]

인덱스는 **0번 부터 시작** 합니다.

In [ ]:
mylist[0]

1

In [ ]:
mylist[3]

4

In [ ]:
mylist[4]

IndexError: list index out of range

### 역순 인덱싱

파이썬은 음수 인덱싱을 지원합니다.

In [ ]:
mylist

[1, 2, 3, 4]

In [ ]:
mylist[-1]

4

In [ ]:
mylist[-3]

2

In [ ]:
mylist[-5]

IndexError: list index out of range

### 인덱스로 접근하여 값 바꾸기

In [ ]:
mylist = [1, 2, 3, 4, 5]
mylist

[1, 2, 3, 4, 5]

In [ ]:
mylist[0]

1

In [ ]:
mylist[0] = 100

In [ ]:
mylist

[100, 2, 3, 4, 5]

In [ ]:
mylist[-1] = 300

In [ ]:
mylist

[100, 2, 3, 4, 300]

### 중첩된 리스트 인덱싱

중첩된 리스트에 대한 리스트는 중첩 인덱싱으로 접근합니다. 값을 변경하는 것도 가능합니다.

In [ ]:
mylist = [['가', '나', '다'], [4, 5, 6], 7, 8, 9]

In [ ]:
mylist

[['가', '나', '다'], [4, 5, 6], 7, 8, 9]

1 번째 리스트 요소를 가져옵니다.

In [ ]:
mylist[1]

[4, 5, 6]

1번째 리스트의 요소 중 1번째 요소를 가져오기 위해서는 중첩 인덱싱으로 접근합니다.

In [ ]:
mylist[1][1]

5

In [ ]:
mylist[1][1] = 99

In [ ]:
mylist

[['가', '나', '다'], [4, 99, 6], 7, 8, 9]

### 슬라이싱(Slicing): 범위 추출

- 슬라이싱의 활용: [start:stop:step] 을 명시하여 부분을 추출할 수 있습니다.

In [ ]:
mylist = [100, 200, 300, 400, 500]

[:]을 활용하여 전체를 추출할 수 있습니다.

In [ ]:
mylist[:]

[100, 200, 300, 400, 500]

[start:]는 시작 index 부터 끝까지 추출합니다.

In [ ]:
mylist[2:]

[300, 400, 500]

In [ ]:
mylist[-3:]

[300, 400, 500]

[:end]는 처음부터 end 전까지 추출합니다.

In [ ]:
mylist[:3]

[100, 200, 300]

[start:end]는 start부터 end 전까지 추출합니다.

In [ ]:
mylist[1:3]

[200, 300]

In [ ]:
mylist[-3: -1]

[300, 400]

## 연습문제

In [ ]:
fruit = ['사과', '바나나', '파인애플', '배', '수박', '키위', '오렌지', '망고', '딸기']

list **인덱싱** & **슬라이싱**을 사용하여 다음과 같이 출력 하세요

In [ ]:
# 코드를 입력해 주세요
fruit[2:5]

['파인애플', '배', '수박']

<p><strong>[출력 결과]</strong></p><pre>['파인애플', '배', '수박']</pre>

In [ ]:
# 코드를 입력해 주세요
fruit[-2:]

['망고', '딸기']

<p><strong>[출력 결과]</strong></p><pre>['망고', '딸기']</pre>

In [ ]:
# 코드를 입력해 주세요
fruit[:3]

['사과', '바나나', '파인애플']

<p><strong>[출력 결과]</strong></p><pre>['사과', '바나나', '파인애플']</pre>

In [ ]:
# 코드를 입력해 주세요
fruit[-6:]

['배', '수박', '키위', '오렌지', '망고', '딸기']

<p><strong>[출력 결과]</strong></p><pre>['배', '수박', '키위', '오렌지', '망고', '딸기']</pre>

## indexing 에 step 활용하기

list[start:stop:step]

- step은 몇 칸씩 건너 뛰는지 지정합니다.

In [ ]:
mylist = [100, 200, 300, 400, 500]

**2칸**씩 건너뛰기

In [ ]:
mylist[::2]

[100, 300, 500]

**역순** 출력

In [ ]:
mylist[::-1]

[500, 400, 300, 200, 100]

역순 그리고 **2칸씩** 건너뛰기

In [ ]:
mylist[::-2]

[500, 300, 100]

In [ ]:
mylist

[100, 200, 300, 400, 500]

In [ ]:
mylist[1::2]

[200, 400]

In [ ]:
mylist[-2::-2]

[400, 200]

### list 덧셈: list 확장

In [ ]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

In [ ]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
a = ['a', 'b', 'c']
b = ['d', 'e', 'f']

In [ ]:
a + b

['a', 'b', 'c', 'd', 'e', 'f']

### list 곱셈: list 반복

In [ ]:
a = ['a', 'b', 'c']
b = [1, 2, 3, 4]

In [ ]:
a * 2

['a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
b * 3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
a * b

TypeError: can't multiply sequence by non-int of type 'list'

### 연습문제 1

sample = [1, 3, 5, 4, 2] 리스트를 슬라이싱을 이용하여 [2, 4, 5, 3, 1]로 출력하세요

In [ ]:
sample = [1, 3, 5, 4, 2]

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [ ]:
# 코드를 입력해 주세요
sample[::-1]

[2, 4, 5, 3, 1]

<p><strong>[출력 결과]</strong></p><pre>[2, 4, 5, 3, 1]</pre>

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [ ]:
# 코드를 입력해 주세요
sample[::2]

[1, 5, 2]

<p><strong>[출력 결과]</strong></p><pre>[1, 5, 2]</pre>

슬라이싱을 사용해 다음과 같이 출력해 주세요

In [ ]:
# 코드를 입력해 주세요
sample[-3::-2]

[5, 1]

<p><strong>[출력 결과]</strong></p><pre>[5, 1]</pre>

### 연습문제 2

- 아래의 값을 저장하고 있는 `myList` 변수를 생성하세요.
- [[1,2,3],[4,5,6],[7,8]]

In [ ]:
myList = [[1,2,3],[4,5,6],[7,8]]
myList

[[1, 2, 3], [4, 5, 6], [7, 8]]

- 9를 `myList`에 추가하여 아래의 값을 저장할 수 있도록 하세요.
    - [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
# 코드를 입력해 주세요
myList[2].append[9]
myList

[[1, 2, 3], [4, 5, 6], [7, 8]]

<p><strong>[출력 결과]</strong></p><pre>[[1, 2, 3], [4, 5, 6], [7, 8, 9]]</pre>

## 튜플(tuple)

- 리스트(list)는 가변(mutable)하는 객체(object)이지만, **튜플(tuple)은 불변(immutable)한 객체**입니다.
- 가변 객체는 요소에 대한 수정, 삭제, 변경 등이 가능하지만, 불편 객체는 **요소에 대한 수정, 삭제, 변경이 불가**합니다.

### 생성

- tuple(), () 로 생성합니다.
- 혹은 , 로 생성할 수 있습니다.

**()로 튜플을 생성**할 수 있습니다.

In [ ]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

**tuple()** 로 생성하는 경우

In [ ]:
mytuple = tuple([1, 2, 3])
mytuple

(1, 2, 3)

**, 로 생성**할 수 있습니다.

In [ ]:
mytuple = 1, 2, 3
mytuple

(1, 2, 3)

**단일 요소를 생성**할 때는 반드시 ,를 붙여 줍니다.
- (1,)과 (1)은 다른 자료구조임을 꼭 알고 있어야 합니다.

In [ ]:
mytuple = 1,
print(type(mytuple))
mytuple

<class 'tuple'>

(1,)

In [ ]:
mytuple = (1,)
print(type(mytuple))
mytuple

<class 'tuple'>

(1,)

In [ ]:
mytuple = (1)
print(type(mytuple))
mytuple

<class 'int'>

1

**튜플 언패킹(unpacking)**
- 튜플로 한 번에 **여러 변수에 값을 한 번에 할당**할 수 있습니다.

In [ ]:
a,b,c = 1, 2, 3

print(a)
print(b)
print(c)

1
2
3

In [ ]:
a = 1, 2, 3

print(a)
#print(b)
#print(c)

(1, 2, 3)

### 튜플 자료형은 요소의 추가, 삭제, 변경등을 허용하지 않습니다.

In [ ]:
mytuple = (1, 2, 3)
mytuple

(1, 2, 3)

요소를 **조회하는 것은 가능**합니다.

In [ ]:
mytuple[1]

2

요소를 **변경**하려는 경우

In [ ]:
mytuple[1] = 100

TypeError: 'tuple' object does not support item assignment

요소를 **삭제**하려는 경우

In [ ]:
del mytuple[1]

TypeError: 'tuple' object doesn't support item deletion

### 튜플 덧셈: 튜플의 확장

In [ ]:
a = (1, 2)
b = (3, 4)

In [ ]:
a + b

(1, 2, 3, 4)

### 튜플 곱셈: 튜플의 반복

In [ ]:
a * 3

(1, 2, 1, 2, 1, 2)

In [ ]:
a * 10

(1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2, 1, 2)

### 길이 파악하기

In [ ]:
mytuple

(1, 2, 3)

In [ ]:
len(mytuple)

3

### list를 tuple로 변환

In [ ]:
a = [1, 2, 3, 4]

In [ ]:
a

[1, 2, 3, 4]

In [ ]:
type(a)

list

In [ ]:
b = tuple(a)

In [ ]:
b

(1, 2, 3, 4)

In [ ]:
type(b)

tuple

### tuple을 list로 변환

In [ ]:
a = (1, 2, 3, 4)

In [ ]:
a

(1, 2, 3, 4)

In [ ]:
type(a)

tuple

In [ ]:
b = list(a)

In [ ]:
b

[1, 2, 3, 4]

In [ ]:
type(b)

list

리스트로 type을 변경하였기 때문에 **요소의 추가 및 삭제가 가능**합니다.

In [ ]:
b.append(5)
b

[1, 2, 3, 4, 5]

In [ ]:
b.remove(2)
b

[1, 3, 4, 5]

요소를 추가 및 삭제한 후 **다시 tuple로 변경**할 수 있습니다.

In [ ]:
c = tuple(b)

In [ ]:
c

(1, 3, 4, 5)

In [ ]:
type(c)

tuple

### 연습문제

주어진 tuple `a`를 (1, 100, 2, 3, 4)의 요소를 가지도록 변경해 주세요

In [ ]:
a = (1, 2, 3, 4)

In [ ]:
# 코드를 입력해 주세요
b = list(a)
b.insert(1,100)
c = tuple(b)
c

(1, 100, 2, 3, 4)

<p><strong>[출력 결과]</strong></p><pre>(1, 100, 2, 3, 4)</pre>